<form method="post" action="/favorites">
	<input type="hidden" name="favorite[title]" value="<%= movie.Title %>">
	<input type="hidden" name="favorite[id]" value="<%= movie.imdbID %>">
	<input type="submit" value="Favorite">
</form>