<h1>Favorites</h1>

<ul class="results">
	<% faves.forEach(function(movie, index) { %>
		<li>
			<h4><%= movie.title %></h4>
			<form method="post" action="/favorites/<%= movie.id %>?_method=delete">
				<input type="submit" value="Unfavorite">
			</form>
		</li>
	<% }) %>
</ul>