<h1>Favorites</h1>

<ul class="results">
	<% faves.forEach(function(movie, index) { %>
		<li>
			<h4><a href="/movies/<%= movie.id %>"><%= movie.title %></a> </h4>
			<form method="post" action=""></form>
		</li>
	<% }) %>
</ul>