<!doctype html>
<html>
  <head>
    <title>OMDB API Example</title>
    <link rel="stylesheet" href="/assets/styles/style.css">
  </head>
  <body>
  	<header class="page-header">
  		<div class="logo">Movie Search</div>
			<ul class="nav">
				<li><a href="/">Home</a></li>
				<li><a href="/">Search</a></li>
			</ul>
  	</header>
  	<div class="content">
	    <%- body %>
	  </div>
  </body>
</html>
