
body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}
header {
	padding: 2em;
	overflow: hidden;
	background: #ddd;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
}
.logo {
	float: left;
	margin-right: 1.5em;
}
.nav {
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-indent: none;
	float: left;
}
.nav li {
	display: inline-block;
	margin-right: 1.5em;
}
.results {
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-indent: none;
}
.results li {
	padding: .25em;
	margin-bottom: .25em;
	background: #ddd;
}
.year {
	font-style: oblique;
	font-size: .5em;
}
.content {
	width: 80%;
	margin: 100px auto 0 auto;
}

/*
	Show
*/

.result {
	overflow: hidden;
	width: 100%;
}
.result img {
	width: 25%;
	float: left;
	margin-right: 5%;
}
.result .meta {
	font-style: oblique;
	color: #777;
}
.result .text {
	width: 70%;
	float: left;
}

.button {
	width: auto;
	padding: .5em;
	background: #999;
	border: 1px solid #666;
}
.back {
	text-decoration: none;
	display: block;
	margin-bottom: 1.5em;
}


